flows.json
[{"id":"tab1","type":"tab","label":"Dashboard"},{"id":"mqtt1","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":"nr_lev"},{"id":"ui_tab","type":"ui_tab","name":"Control ESP32"},{"id":"ui_g1","type":"ui_group","name":"Sensores","tab":"ui_tab","width":"6"},{"id":"ui_g2","type":"ui_group","name":"Relés","tab":"ui_tab","width":"6"},{"id":"n1","type":"mqtt in","z":"tab1","topic":"leviatanes/esp32/sensors","broker":"mqtt1","x":120,"y":80,"wires":[["n2"]]},{"id":"n2","type":"json","z":"tab1","x":270,"y":80,"wires":[["n3"]]},{"id":"n3","type":"function","z":"tab1","func":"return[{payload:msg.payload.temperature},{payload:msg.payload.humidity},{payload:msg.payload.motor},{payload:msg.payload.foco1}];","outputs":4,"x":390,"y":80,"wires":[["n4"],["n5"],["n6"],["n7"]]},{"id":"n4","type":"ui_gauge","z":"tab1","group":"ui_g1","name":"Temp","label":"°C","min":0,"max":"40","x":550,"y":40,"wires":[]},{"id":"n5","type":"ui_gauge","z":"tab1","group":"ui_g1","name":"Hum","label":"%","min":0,"max":"100","x":550,"y":80,"wires":[]},{"id":"n6","type":"ui_text","z":"tab1","group":"ui_g2","name":"Motor","label":"Motor:","x":550,"y":120,"wires":[]},{"id":"n7","type":"ui_text","z":"tab1","group":"ui_g2","name":"Foco1","label":"Foco1:","x":550,"y":160,"wires":[]}]
