flows.json
[
  {
    "id": "main_flow",
    "type": "tab",
    "label": "🎓 Sistema Control ESP32 - Leviatanes",
    "disabled": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "MQTT Broker Interno",
    "broker": "0.0.0.0",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_tab",
    "type": "ui_tab",
    "name": "📊 Control Inteligente ESP32 - Red Neuronal",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "🟢 Estado Sistema",
    "tab": "ui_tab",
    "order": 1,
    "width": "12"
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "🌡️ Sensores DHT11",
    "tab": "ui_tab",
    "order": 2,
    "width": "6"
  },
  {
    "id": "ui_group_charts",
    "type": "ui_group",
    "name": "📈 Históricos",
    "tab": "ui_tab",
    "order": 3,
    "width": "6"
  },
  {
    "id": "ui_group_relays",
    "type": "ui_group",
    "name": "⚡ Estado Relés 220V",
    "tab": "ui_tab",
    "order": 4,
    "width": "12"
  },
  {
    "id": "ui_group_mode",
    "type": "ui_group",
    "name": "🤖 Modo Operación",
    "tab": "ui_tab",
    "order": 5,
    "width": "6"
  },
  {
    "id": "ui_group_control",
    "type": "ui_group",
    "name": "🎮 Control Manual",
    "tab": "ui_tab",
    "order": 6,
    "width": "6"
  },
  {
    "id": "ui_group_time",
    "type": "ui_group",
    "name": "⏰ Control Horario",
    "tab": "ui_tab",
    "order": 7,
    "width": "12"
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "main_flow",
    "name": "ESP32 Datos",
    "topic": "esp32/sensors",
    "broker": "mqtt_broker",
    "x": 110,
    "y": 100,
    "wires": [["parse_json"]]
  },
  {
    "id": "parse_json",
    "type": "json",
    "z": "main_flow",
    "name": "Parse",
    "x": 270,
    "y": 100,
    "wires": [["split_data"]]
  },
  {
    "id": "split_data",
    "type": "function",
    "z": "main_flow",
    "name": "Procesar Datos",
    "func": "flow.set('lastTemp', msg.payload.temperature);\nflow.set('lastHum', msg.payload.humidity);\nflow.set('motorState', msg.payload.motor);\nflow.set('foco1State', msg.payload.foco1);\nflow.set('foco2State', msg.payload.foco2);\nflow.set('mode', msg.payload.mode);\nflow.set('time', msg.payload.time);\nflow.set('rssi', msg.payload.wifi_rssi);\n\nreturn [\n  {payload: msg.payload.temperature, topic: 'temp'},\n  {payload: msg.payload.humidity, topic: 'hum'},\n  {payload: msg.payload.motor, topic: 'motor'},\n  {payload: msg.payload.foco1, topic: 'foco1'},\n  {payload: msg.payload.foco2, topic: 'foco2'},\n  {payload: msg.payload.mode, topic: 'mode'},\n  {payload: msg.payload.time, topic: 'time'},\n  {payload: msg.payload.wifi_rssi, topic: 'rssi'}\n];",
    "outputs": 8,
    "x": 450,
    "y": 100,
    "wires": [
      ["temp_gauge", "temp_chart"],
      ["hum_gauge", "hum_chart"],
      ["motor_led"],
      ["foco1_led"],
      ["foco2_led"],
      ["mode_text"],
      ["time_text"],
      ["rssi_text"]
    ]
  },
  {
    "id": "temp_gauge",
    "type": "ui_gauge",
    "z": "main_flow",
    "name": "Temperatura",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura °C",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "40",
    "colors": ["#00b3ff", "#00e600", "#ff0000"],
    "seg1": "18",
    "seg2": "25",
    "x": 690,
    "y": 60,
    "wires": []
  },
  {
    "id": "hum_gauge",
    "type": "ui_gauge",
    "z": "main_flow",
    "name": "Humedad",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Humedad %",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#ff9900", "#00e600", "#0099ff"],
    "seg1": "40",
    "seg2": "80",
    "x": 690,
    "y": 100,
    "wires": []
  },
  {
    "id": "temp_chart",
    "type": "ui_chart",
    "z": "main_flow",
    "name": "Gráfico Temp",
    "group": "ui_group_charts",
    "order": 1,
    "width": 6,
    "height": 4,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Esperando datos...",
    "dot": false,
    "ymin": "0",
    "ymax": "40",
    "x": 690,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "hum_chart",
    "type": "ui_chart",
    "z": "main_flow",
    "name": "Gráfico Hum",
    "group": "ui_group_charts",
    "order": 2,
    "width": 6,
    "height": 4,
    "label": "Humedad",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Esperando datos...",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "x": 690,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "motor_led",
    "type": "ui_led",
    "z": "main_flow",
    "name": "Motor AC 220V",
    "group": "ui_group_relays",
    "order": 1,
    "width": 3,
    "height": 1,
    "label": "🔌 Motor AC",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#777777", "value": "false"},
      {"color": "#00ff00", "value": "true"}
    ],
    "allowColorForValueInMessage": false,
    "x": 690,
    "y": 260,
    "wires": []
  },
  {
    "id": "foco1_led",
    "type": "ui_led",
    "z": "main_flow",
    "name": "Foco 1",
    "group": "ui_group_relays",
    "order": 2,
    "width": 3,
    "height": 1,
    "label": "💡 Foco 1",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#777777", "value": "false"},
      {"color": "#ffff00", "value": "true"}
    ],
    "allowColorForValueInMessage": false,
    "x": 690,
    "y": 300,
    "wires": []
  },
  {
    "id": "foco2_led",
    "type": "ui_led",
    "z": "main_flow",
    "name": "Foco 2",
    "group": "ui_group_relays",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "💡 Foco 2",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#777777", "value": "false"},
      {"color": "#ffff00", "value": "true"}
    ],
    "allowColorForValueInMessage": false,
    "x": 690,
    "y": 340,
    "wires": []
  },
  {
    "id": "mode_text",
    "type": "ui_text",
    "z": "main_flow",
    "group": "ui_group_status",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Modo Actual",
    "label": "Modo:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 690,
    "y": 380,
    "wires": []
  },
  {
    "id": "time_text",
    "type": "ui_text",
    "z": "main_flow",
    "group": "ui_group_status",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Hora ESP32",
    "label": "Hora:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 690,
    "y": 420,
    "wires": []
  },
  {
    "id": "rssi_text",
    "type": "ui_text",
    "z": "main_flow",
    "group": "ui_group_status",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "WiFi Signal",
    "label": "WiFi:",
    "format": "{{msg.payload}} dBm",
    "layout": "row-spread",
    "x": 690,
    "y": 460,
    "wires": []
  },
  {
    "id": "mode_switch",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "Cambiar Modo",
    "group": "ui_group_mode",
    "order": 1,
    "width": 6,
    "height": 1,
    "label": "Modo",
    "tooltip": "AUTO (IA) | MANUAL",
    "on": "AUTO",
    "off": "MANUAL",
    "x": 130,
    "y": 520,
    "wires": [["mode_processor"]]
  },
  {
    "id": "mode_processor",
    "type": "function",
    "z": "main_flow",
    "name": "Preparar Modo",
    "func": "var mode = msg.payload ? 'auto' : 'manual';\nreturn {payload: JSON.stringify({mode: mode})};",
    "x": 310,
    "y": 520,
    "wires": [["mqtt_mode_out"]]
  },
  {
    "id": "mqtt_mode_out",
    "type": "mqtt out",
    "z": "main_flow",
    "name": "Enviar Modo",
    "topic": "esp32/mode",
    "broker": "mqtt_broker",
    "x": 500,
    "y": 520,
    "wires": []
  },
  {
    "id": "motor_switch",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "Motor",
    "group": "ui_group_control",
    "order": 1,
    "width": 3,
    "height": 1,
    "label": "Motor AC",
    "on": true,
    "off": false,
    "x": 130,
    "y": 600,
    "wires": [["relay_processor"]]
  },
  {
    "id": "foco1_switch",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "Foco 1",
    "group": "ui_group_control",
    "order": 2,
    "width": 3,
    "height": 1,
    "label": "Foco 1",
    "on": true,
    "off": false,
    "x": 130,
    "y": 640,
    "wires": [["relay_processor"]]
  },
  {
    "id": "foco2_switch",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "Foco 2",
    "group": "ui_group_control",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "Foco 2",
    "on": true,
    "off": false,
    "x": 130,
    "y": 680,
    "wires": [["relay_processor"]]
  },
  {
    "id": "relay_processor",
    "type": "function",
    "z": "main_flow",
    "name": "Preparar Control",
    "func": "var relayName = msg.topic || 'motor';\nvar state = msg.payload;\nvar cmd = {};\ncmd[relayName] = state;\nreturn {payload: JSON.stringify(cmd)};",
    "x": 320,
    "y": 640,
    "wires": [["mqtt_control_out"]]
  },
  {
    "id": "mqtt_control_out",
    "type": "mqtt out",
    "z": "main_flow",
    "name": "Enviar Control",
    "topic": "esp32/control",
    "broker": "mqtt_broker",
    "x": 520,
    "y": 640,
    "wires": []
  },
  {
    "id": "hour_slider",
    "type": "ui_slider",
    "z": "main_flow",
    "name": "Hora Simulada",
    "group": "ui_group_time",
    "order": 1,
    "width": 8,
    "height": 1,
    "label": "Hora (0-23)",
    "tooltip": "Ajustar hora para pruebas",
    "min": 0,
    "max": 23,
    "step": 1,
    "x": 140,
    "y": 760,
    "wires": [["hour_display"]]
  },
  {
    "id": "hour_display",
    "type": "ui_text",
    "z": "main_flow",
    "group": "ui_group_time",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Hora Seleccionada",
    "label": "Hora ajustada:",
    "format": "{{msg.payload}}:00",
    "layout": "row-spread",
    "x": 350,
    "y": 760,
    "wires": []
  },
  {
    "id": "mqtt_server",
    "type": "aedes broker",
    "z": "main_flow",
    "name": "MQTT Server",
    "mqtt_port": 1883,
    "mqtt_ws_bind": "port",
    "mqtt_ws_port": 8883,
    "cert": "",
    "key": "",
    "certname": "",
    "keyname": "",
    "dburl": "",
    "usetls": false,
    "x": 130,
    "y": 40,
    "wires": [[]]
  }
]
