flows_cloudamqp.json
[
  {
    "id": "main_flow",
    "type": "tab",
    "label": "🎓 Sistema Control ESP32 - Leviatanes",
    "disabled": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "CloudAMQP MQTT",
    "broker": "porpoise.rmq.cloudamqp.com",
    "port": "1883",
    "clientid": "nodered_leviatanes",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "lshuhkep:lshuhkep",
      "password": "OrhD5YeezeteMkgBTJOqD1DvNOsQlGBV"
    }
  },
  {
    "id": "ui_tab",
    "type": "ui_tab",
    "name": "📊 Control Inteligente ESP32",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "🌡️ Sensores",
    "tab": "ui_tab",
    "order": 1,
    "width": "6"
  },
  {
    "id": "ui_group_charts",
    "type": "ui_group",
    "name": "📈 Históricos",
    "tab": "ui_tab",
    "order": 2,
    "width": "6"
  },
  {
    "id": "ui_group_relays",
    "type": "ui_group",
    "name": "⚡ Relés 220V",
    "tab": "ui_tab",
    "order": 3,
    "width": "12"
  },
  {
    "id": "ui_group_control",
    "type": "ui_group",
    "name": "🎮 Control",
    "tab": "ui_tab",
    "order": 4,
    "width": "12"
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "main_flow",
    "name": "ESP32 Datos",
    "topic": "esp32/sensors",
    "broker": "mqtt_broker",
    "x": 110,
    "y": 100,
    "wires": [["parse_json"]]
  },
  {
    "id": "parse_json",
    "type": "json",
    "z": "main_flow",
    "name": "",
    "x": 270,
    "y": 100,
    "wires": [["split_data"]]
  },
  {
    "id": "split_data",
    "type": "function",
    "z": "main_flow",
    "name": "Procesar",
    "func": "return [\n  {payload: msg.payload.temperature},\n  {payload: msg.payload.humidity},\n  {payload: msg.payload.motor},\n  {payload: msg.payload.foco1},\n  {payload: msg.payload.foco2},\n  {payload: msg.payload.mode}\n];",
    "outputs": 6,
    "x": 420,
    "y": 100,
    "wires": [
      ["temp_gauge", "temp_chart"],
      ["hum_gauge", "hum_chart"],
      ["motor_led"],
      ["foco1_led"],
      ["foco2_led"],
      ["mode_text"]
    ]
  },
  {
    "id": "temp_gauge",
    "type": "ui_gauge",
    "z": "main_flow",
    "name": "Temp",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura °C",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "40",
    "colors": ["#00b3ff", "#00e600", "#ff0000"],
    "seg1": "18",
    "seg2": "25",
    "x": 640,
    "y": 60,
    "wires": []
  },
  {
    "id": "hum_gauge",
    "type": "ui_gauge",
    "z": "main_flow",
    "name": "Hum",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Humedad %",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#ff9900", "#00e600", "#0099ff"],
    "seg1": "40",
    "seg2": "80",
    "x": 640,
    "y": 100,
    "wires": []
  },
  {
    "id": "temp_chart",
    "type": "ui_chart",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_charts",
    "order": 1,
    "width": 6,
    "height": 4,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "40",
    "x": 640,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "hum_chart",
    "type": "ui_chart",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_charts",
    "order": 2,
    "width": 6,
    "height": 4,
    "label": "Humedad",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "x": 640,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "motor_led",
    "type": "ui_led",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_relays",
    "order": 1,
    "width": 3,
    "height": 1,
    "label": "🔌 Motor",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#555", "value": "false"},
      {"color": "#0f0", "value": "true"}
    ],
    "x": 640,
    "y": 260,
    "wires": []
  },
  {
    "id": "foco1_led",
    "type": "ui_led",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_relays",
    "order": 2,
    "width": 3,
    "height": 1,
    "label": "💡 Foco 1",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#555", "value": "false"},
      {"color": "#ff0", "value": "true"}
    ],
    "x": 640,
    "y": 300,
    "wires": []
  },
  {
    "id": "foco2_led",
    "type": "ui_led",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_relays",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "💡 Foco 2",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#555", "value": "false"},
      {"color": "#ff0", "value": "true"}
    ],
    "x": 640,
    "y": 340,
    "wires": []
  },
  {
    "id": "mode_text",
    "type": "ui_text",
    "z": "main_flow",
    "group": "ui_group_control",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "",
    "label": "Modo:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 640,
    "y": 380,
    "wires": []
  },
  {
    "id": "mode_switch",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_control",
    "order": 2,
    "width": 6,
    "height": 1,
    "label": "Modo",
    "on": "AUTO",
    "off": "MANUAL",
    "x": 110,
    "y": 480,
    "wires": [["mode_prep"]]
  },
  {
    "id": "mode_prep",
    "type": "function",
    "z": "main_flow",
    "name": "",
    "func": "var m = msg.payload ? 'auto' : 'manual';\nreturn {payload: JSON.stringify({mode: m})};",
    "x": 280,
    "y": 480,
    "wires": [["mqtt_mode"]]
  },
  {
    "id": "mqtt_mode",
    "type": "mqtt out",
    "z": "main_flow",
    "name": "",
    "topic": "esp32/mode",
    "broker": "mqtt_broker",
    "x": 440,
    "y": 480,
    "wires": []
  },
  {
    "id": "motor_sw",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_control",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "Motor",
    "on": true,
    "off": false,
    "x": 110,
    "y": 560,
    "wires": [["relay_prep"]]
  },
  {
    "id": "foco1_sw",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_control",
    "order": 4,
    "width": 3,
    "height": 1,
    "label": "Foco 1",
    "on": true,
    "off": false,
    "x": 110,
    "y": 600,
    "wires": [["relay_prep"]]
  },
  {
    "id": "foco2_sw",
    "type": "ui_switch",
    "z": "main_flow",
    "name": "",
    "group": "ui_group_control",
    "order": 5,
    "width": 3,
    "height": 1,
    "label": "Foco 2",
    "on": true,
    "off": false,
    "x": 110,
    "y": 640,
    "wires": [["relay_prep"]]
  },
  {
    "id": "relay_prep",
    "type": "function",
    "z": "main_flow",
    "name": "",
    "func": "var r = msg.topic || 'motor';\nvar c = {};\nc[r] = msg.payload;\nreturn {payload: JSON.stringify(c)};",
    "x": 280,
    "y": 600,
    "wires": [["mqtt_ctrl"]]
  },
  {
    "id": "mqtt_ctrl",
    "type": "mqtt out",
    "z": "main_flow",
    "name": "",
    "topic": "esp32/control",
    "broker": "mqtt_broker",
    "x": 440,
    "y": 600,
    "wires": []
  }
]
